button{
    height: 30px;
    border-radius: var(--border-button);
    background-color: transparent;
    border: 2px solid var(--white-color);
    color: var(--font-color);
    font-size: 0.8rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.small{
    width: 30px;
}
.medium{
    width: 80px;
}
.large{
    height: 40px;
    width: 140px;
}
button.accept{
    background-color: var(--accept-color);
}
button.delete{
    background-color: var(--reject-color);
}
button:hover::before{
    animation: .2s button-hover ease-in;
}
button::before{
    content: "";
    display: block;
    width: 20px;
    height: 50px;
    background-color: var(--white-color);
    position: absolute;
    transform: rotate(30deg);
    top: -5px;
    left: -35px;
    transition: .2s ease-in-out;
}
@keyframes button-hover {
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: translateX(1000%) rotate(30deg);
    }
}
/* "+", "-" buttons  */
.buttons{
    min-width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    line-height: 1rem;
}
/* big menu buttons */
.Xlarge{
    height: 200px;
    width: 100%;
    min-width: 200px;
    background: linear-gradient(to bottom, var(--secondary-color), var(--black-color));
    font-style: italic;
    font-size: 1.5rem;
    transition: .4s ease-in-out;
    border: var(--border-px) solid; 
}
.Xlarge:hover{
    background: linear-gradient(to top, var(--secondary-color), var(--black-color));
    color: var(--black-color);
}
.Xlarge::before{
    display: none;
}