.login-container{
    margin: 0 auto;
    width: 400px;
}
.login-container div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login-container a{
    text-decoration: none;
    color: var(--font-color);
}