
.order-container h3{
    line-height: 20rem;
    font-size: 1.5rem
}
.order-container .result-container b,
.order-container .result-container button{
    position: absolute;
    bottom: 2rem;
}
.order-container .result-container b{
    font-size: 1.5rem;
    left: 7rem;
}
.order-container .result-container button{
    width: 7rem;
    right: 7rem;
} 