.arrow-back-container{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 100px;
    cursor: pointer;
    opacity: .5; 
}
.arrow-back-container .arrow-back{
    height: 4px;
    width: 70px;
    background-color: transparent;
    border-radius: 10px;
    position: absolute;
    top: 60%;
}
.arrow-back-container .arrow-back::before,
.arrow-back-container .arrow-back::after{
    content: "";
    display: block;
    width: 4px;
    height: 20px;
    background-color: var(--font-color);
    border-radius: 10px;
    position: absolute;
}
.arrow-back-container .arrow-back::before{
    top: -10px;
    left: 20px;
    transform: rotate(-55deg)
}
.arrow-back-container  .arrow-back::after{
    top: -20px;
    left: 20px;
    transform: rotate(55deg);
}
