.modal-container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    z-index: 2;
}
.modal-content{
    background-color: var(--secondary-color);
    position: fixed;
    left: 50%;
    top: 50%;
    width: 450px;
    height: 150px;
    transform: translate(-50%, -50%);
    border-radius: var(--border-radius);
    border: var(--border-px) solid var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px 0 20px;
    backface-visibility: hidden;
    text-align: center;
    color: var(--font-color);
    font-size: 1.3rem;
    animation: appear .5s ease-in-out;

}

.modal-container .close-button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
}
.add{
    animation: disappear .5s ease-in-out;
}
@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes disappear {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@media screen and (max-width: 450px){
    .modal-container{
        /* backdrop-filter: none; */
    }
    .modal-content{
        width: 90%;
        height: 100px;
        top: 60px;
    }
    .modal-content button{ 
        display: none;
    }
    @keyframes appear {
        0%{
            top: -50px;
        }
        100%{
            top: 60px;
        }
    }
    @keyframes disappear {
        0%{
            top: 60px;
        }
        100%{
            top: -50px;
        }
    }
}