.list-element{
    align-items: center;
    border-bottom: 1.5px dashed var(--font-color);
    color: var(--font-color);
    display: flex;
    font-size: 1.5rem;
    padding: 15px;
    gap: 10px 20px;
    text-align: start;
}
.list-element .name{
    min-width: 20%;
}
.list-element .descriptions{
    font-size: .8rem;
    flex-grow: 1;
    font-style: italic;
}
