.label-input-element{
    width: 100%;
    display: flex;
    color: var(--font-color);
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px dashed; 
    padding: 15px;
    margin: 15px auto;
    position: relative;
}
.label-input-element input{
    background-color: var(--secondary-color);
    border-radius: var(--border-button);
    color: var(--font-color);
    font-size: 1rem;
    height: 40px;
    padding: 0 15px; 
    flex-basis: 100%;
}
.label-input-element input::placeholder{
    color: var(--font-color)
}
.label-input-element p{
    text-align: start;
    min-width: 150px;
    color: var(--font-color);
}
.label-input-element span{
    position: absolute;
    top: -5px;
    left: 45%;
    font-size: .8rem;
}  
span.reject{
    color: var(--reject-color);
}