.navigation{
    background-color: var(--secondary-color);
    border: var(--border-px) solid var(--white-color);
    border-radius: var(--border-radius);
    height: 100dvh;
    padding: 50px 0;
    min-width: 15dvw; 
    transition: .7s ease-in-out;  
    position: sticky;
    top: 0;
    z-index: 2;
}
.navigation ul{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    line-height: 6rem;
    font-size: 2rem;
}
.navigation a{
    border-left: 8px solid var(--secondary-color);
    color: var(--font-color);
    text-decoration: none;
    padding: 20px 30px;
    transition: .4s ease-in-out;
}
.navigation a:hover{
    padding: 5px 0 5px 50px;
}
.navigation a.active{
    border-left:8px solid var(--primary-color);
    color: var(--primary-color);
    padding: 20px 30px;
}
.active-nav{
    transform: translateX(200px);
    display: block;    
}