.small,
.medium,
.large{
    height: 30px;
    border-radius: var(--border);
    background-color: var(--secondary-color);
    color: var(--font-color);
    font-size: 0.8rem;
    cursor: pointer;
    margin: 10px;
}
.small{
    width: 30px;
}
.medium{
    width: 80px;
}
.large{
    height: 40px;
    width: 140px;
}
.accept{
    background-color: var(--accept-color);
}
.delete{
    background-color: var(--reject-color);
}
button:hover{
    opacity: 1;
}