:root{
  --border-radius: 10px;
  --border-px: 2px;
  --border-button: 7px;
  --primary-color: #934A5F;;
  --secondary-color: #C2B4D6;
  --font-color: #fff; 
  --white-color: #E5E5E5; 
  --black-color: #57648C;
  --accept-color: rgb(123, 187, 123);
  --reject-color: rgb(250, 123, 123);
}
/* :root{
  --border-radius: 10px;
  --border-px: 2px;
  --border-button: 7px;
  --primary-color: #ED7458;
  --secondary-color: #FFDC9F;
  --font-color: #000; 
  --white-color: #fff;
  --black-color: #8E7C68;
  --accept-color: rgb(82, 136, 82);
  --reject-color: rgb(215, 24, 24);
} */
/* :root{
  --border-radius: 10px;
  --border-px: 2px;
  --border-button: 7px;
  --primary-color: #E2495B;;
  --secondary-color: #FFFEE6;
  --font-color: #000; 
  --white-color: #E5E5E5; 
  --black-color: #E2495B;
  --accept-color: rgb(123, 187, 123);
  --reject-color: rgb(250, 123, 123);
} */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
html{ 
  background-color: var(--white-color);
  height: 100vh; 
  margin: 0 auto;
  width: 100%;
}
.body{
 display: flex;
}
.page{
  min-height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 50px 80px;
  position: relative;
  text-align: center;
  border: var(--border-px) solid var(--white-color);
  border-radius: var(--border-radius);
}
.page h1{
  color: var(--font-color);
  margin-bottom: 40px;
}
.page ul li{
  align-items: center;
  border-bottom: 1.5px dashed var(--font-color);
  color: var(--font-color);
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  line-height: 4rem;
  list-style: none;
  padding: 15px 30px 0 30px;
  gap: 0 10px;
}
.footer{
  align-items: center;
  background-color: var(--black-color);
  border: var(--border-px) solid var(--white-color);
  border-radius: var(--border-radius);
  color: var(--font-color);
  display: flex;
  height: 100px;
  justify-content: space-around;
}
@media screen and (min-width: 900px){
  .navigation{
    transform: translateX(0);
  }
}
@media screen and (max-width: 900px){
  .navigation{
    position: absolute;
    z-index: 1;
  }
  .burger-nav{
    display: block;
    opacity: 1;
  }
}
@media screen and (max-width: 650px){
  .menu-container i{
    display: none;
  }
  .page{
    padding: 100px 20px;
  }
  .page ul li{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}
@media screen and (max-width: 450px){
  .page ul li{
    justify-content: center;
  }

  .label-input-element{
    flex-direction: column;
    align-items:center;
  }
  .label-input-element input{
    width: 100%;
    margin: 10px auto;
  }
  .order-container .result-container{
    flex-direction: column;
  }
  .admin-container,
  .registration-container,
  .login-container{
    width: 100%;
    margin: 0;
  }
  .login-container div{
    flex-direction: column;
  }
  .medium,
  .large{
    width: 100%;
  }
}
