* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}
html{ 
  height: 100vh; 
  margin: 0 auto;
  width: 90%;
}
.body{
 display: flex;
}
.page{
  background-color: rgb(244, 111, 111);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 3rem 5rem;
  text-align: center;
  position: relative;
}
.page h1{
  color: white;
  margin-bottom: 1rem;
}
.page ul li{
  align-items: center;
  border-bottom: .1rem dashed white;
  color: white;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  line-height: 4rem;
  list-style: none;
  padding: 1rem 2rem 0 2rem;
}
.footer{
  align-items: center;
  background-color: gray;
  border-top: .1rem solid white;
  color: black;
  display: flex;
  height: 5rem;
  justify-content: space-around;
}