@media screen and (max-width: 900px){
/* BurgerNav  */
    .navigation{
        z-index: 1;
        transform: translateX(-100%);
        position: fixed;
    }
    .burger-nav{
       opacity: 1;
    }
    .active-nav{
        transform: translateX(0);
        
        
    }
    /* Scroll up  */
    .arrow-container{
        top: 20px;
        left: 10px;
    }
    /* Go back  */
    .arrow-back-container{
        top: 5px;
        left: 10px;
    }
}
@media screen and (max-width: 650px){
/* Pages */
    .page{
        padding: 100px 20px;
    }
/* MenuPage */
    .menu-container .menu-buttons{
        width: 100%;
        gap: 20px;
    }
/* ListElement */
    .page ul li{
        display: flex;
    }
}
@media screen and (max-width: 450px){
/* MenuPage */
    .menu-container .menu-buttons{
        display: flex;
        flex-direction: column;
    }
    .menu-container .menu-buttons .Xlarge{
        height: 150px;
    }
/* ListElement */
    .page ul li{
       flex-direction: column;
      }
      .list-element .button{
        width: 85%;
      }
/* Input */
    .label-input-element{
        flex-direction: column; 
        /* border: none; */
      }
      .label-input-element p {
        text-align: center;
      }
    .label-input-element input{
        width: 100%;
        margin: 10px auto;
    }
    .label-input-element span{
        top: 95px;
        left: 30px;
    }
/* Button */
    button.medium{
        width: 100%;
    }
    button.large{
      width: 100%;
      
    }
    button:hover::before{
        animation: none;
    }
/* BurgerNav  */
    .navigation{
        width: 100%;
        text-align: center;
        
    }
    .navigation a{
        transition: none;
        transition: color .5s ease-in-out;
        transition: padding .5s ease-in-out;
    }
    .navigation a.active{
        border: 0px ;
        padding: 0;
    }
    .admin-nav,
    .login-container div,
    .order-container .result-container{
      flex-direction: column;
    }
/* .admin-container, */
    .registration-container,
    .login-container{
      width: 100%;
     
    }
/* ADMIN  */
    .admin-container{
        width: 100%;
    }
    .admin-container .admin-edit-container li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .category-buttons p {
        width: 100%;        
        display: flex;
        justify-content: center;
    }
    .category-buttons button{
        width: 40%;
    }

}
