@media screen and (max-width: 900px){
/* BurgerNav  */
    .navigation{
        z-index: 1;
        transform: translateX(-100%);
        position: fixed;
    }
    .burger-nav{
       opacity: 1;
    }
    .active-nav{
        transform: translateX(0);
        
        
    }
}
@media screen and (max-width: 650px){
/* Pages */
    .page{
        padding: 100px 20px;
    }
/* MenuPage */
    .menu-container .menu-buttons{
        width: 100%;
        gap: 20px;
    }
/* ListElement */
    .page ul li{
        display: flex;
    }
  
}
@media screen and (max-width: 450px){
/* MenuPage */
    .menu-container .menu-buttons{
        display: flex;
        flex-direction: column;
    }
    .menu-container .menu-buttons .Xlarge{
        height: 150px;
    }
/* ListElement */
    .page ul li{
       flex-direction: column;
      }
/* Input */
    .label-input-element{
        flex-direction: column;
        align-items:center;
      }
    .label-input-element input{
        width: 100%;
        margin: 10px auto;
    }
    input{
        width: 100%;
        margin: 10px auto;
    }
/* Button */
    button .medium,
    button .large{
      width: 100%;
    }
/* BurgerNav  */
    .navigation{
        width: 100%;
        text-align: center;
        border: 0px ;
    }
    .navigation a{
        transition: none;
        transition: color .5s ease-in-out;
        transition: padding .5s ease-in-out;
        
    }
    .navigation a.active{
        border: 0px ;
        padding: 0;
    }
}