.admin-container{
    width: 80%;
}
.admin-container .admin-nav{
   display: flex;
   justify-content: space-around;
   gap: 20px;
}
.admin-container .edit-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.admin-container .category-buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 15px;
    margin: 30px auto;
    border-bottom: 1.5px dashed var(--font-color);
    font-size: 1.5rem;
    color: var(--font-color);
}
.admin-container .category-buttons p{
    min-width: 150px;
    text-align: start;
}
.admin-container .category-buttons button{
    margin: 15px auto;
    flex-basis: 1;
}
.admin-container .admin-nav .active{
    color: var(--accept-color);
    border-color: var(--accept-color);
}
.admin-info-container {
    margin: 30px auto;
}
.admin-info-container .summary-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    color: var(--font-color)
}
.admin-info-container .summary-container label{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;   
}
.admin-container .active-button{
    background-color: var(--accept-color);
}