.admin-container{
    width: 100%;
    
}
.admin-container .admin-nav{
   display: flex;
   justify-content: space-around;
}
.admin-container .edit-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
