.menu-container{
    width: 100%;
}
.menu-container .button,
.menu-container .buttons{
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1rem;
}
.menu-container .button{
    justify-content: flex-end;
}
.menu-container i{
    margin: 0 20px;
    font-size: .8rem;
    line-height: 1rem;
}